@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@using ProductReview.Models
@model User







<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <div class="container">
        <div class="registration form">
            <header>Signup</header>
            <form asp-controller="Login" asp-action="Register" method="post">
                <input type="text" class="form-control" required id="mail" value="" name="mail" placeholder="mail">
                <input type="text" class="form-control" required id="user" value="" name="name" placeholder="user name">
                <input type="password" class="form-control" name="pass1" placeholder="password" id="pass1" required>
                <input type="password" class="form-control" name="pass2" placeholder="re-password" id="pass2" required>
                <div id="password-error" class="invalid-feedback" style="display: none;color:red">
                    Passwords do not match.
                </div>
                <input type="submit" class="button" value="Signup">
            </form>
            <div class="signup">
                <span class="signup">
                    Already have an account?
                    <label onclick="login()" for="check">Login</label>
                </span>
            </div>
        </div>
    </div>
    <script>
        function login() {
            window.location = "/Login/Index";
        }
    </script>
    <script>
        document.getElementById("pass2").addEventListener("input", function () {
            var pass1 = document.getElementById("pass1").value;
            var pass2 = this.value;

            var passwordErrorDiv = document.getElementById("password-error");

            if (pass1 !== pass2) {
                this.classList.add("is-invalid");
                passwordErrorDiv.style.display = "block";
            } else {
                this.classList.remove("is-invalid");
                passwordErrorDiv.style.display = "none";
            }
        });
    </script>
</body>
</html>
